<!-- This is an example component -->

<div
  [formGroup]="createNewBudgetForm"
  class="mx-auto my-auto w-1/3 p-5 gap-y-5 grid grid-col-1 ssm:w-full sm:w-3/4 xl:w-1/3 mt-48"
>
  <button
    type="button"
    (click)="goBack()"
    class="flex items-center justify-center w-1/4 ssm:w-2/5 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-purple-300 border rounded-md gap-x-2 mb-10"
  >
    <svg
      class="w-5 h-5 rtl:rotate-180"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
      />
    </svg>
    <span>Go back</span>
  </button>
  <input
    type="text"
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    placeholder="New Budget Name"
  />
  <button
    mat-raised-button
    color="primary"
    (click)="createBudget()"
    [disabled]="!createNewBudgetForm.valid"
  >
    Create
  </button>
</div>
