<div [formGroup]="calculatorForm">
  <div
    class="mx-auto my-auto w-1/3 p-5 gap-y-5 grid grid-col-1 ssm:w-full sm:w-3/4 xl:w-1/3"
  >
    <input
      [currencyMask]="{
        prefix: '₦ ',
        thousands: ',',
        decimal: '.',
        align: 'center'
      }"
      formControlName="baseAmount"
      (keyup)="onBaseAmountChange($event)"
      type="text"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      placeholder="Salary"
    />
  </div>
  <div
    class="mx-auto my-auto w-1/3 grid grid-cols-2 gap-5 p-5 ssm:w-full sm:w-3/4 xl:w-1/3"
  >
    <input
      type="text"
      placeholder="Item Title"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      formControlName="itemTitle"
    />
    <button
      mat-raised-button
      [disabled]="!calculatorForm.valid"
      (click)="addExpenseItem()"
      color="primary"
    >
      Add Item
    </button>
  </div>
</div>
@if(items().length > 0){
<div
  [formGroup]="detailsForm"
  class="mx-auto my-auto w-1/3 p-5 ssm:w-full sm:w-3/4 xl:w-1/3 relative sm:rounded-lg overflow-clip flex flex-col h-96"
>
  <table
    class="w-full text-sm text-left rtl:text-right table-fixed mb-5 border-2 rounded-lg"
  >
    <thead class="text-xs uppercase sticky top-0 text-center">
      <tr>
        <th class="px-6 py-3">Budgeted</th>
        <th class="px-6 py-3 ssm:text-">(%)</th>
        <th class="px-6 py-3">Balance</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td class="px-6 py-3">₦{{ amountSum() }}</td>
        <td class="px-6 py-3 ssm:text-">{{ percentageSum() }}&nbsp;%</td>
        <td class="px-6 py-3 italic">₦{{ balance() }}</td>
      </tr>
    </tbody>
  </table>
  <div class="flex-1 overflow-y-auto">
    <table class="w-full table-fixed">
      <tbody class="">
        @for(item of items();track $index ){
        <tr class="border-b px-6 py-3">
          <td>{{ item.name }}</td>
          <td class="">
            <input
              (keyup)="calculatePercentage($event, item)"
              [value]="item.amount"
              [formControlName]="item.name"
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder="0.00"
            />
          </td>
          <td class="text-center">{{ item.percentage }}%</td>
          <td class="px-6 py-4">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Delete</a
            >
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
}@else {
<div class="grid grid-cols-1 p-5 text-center">
  <h1>No Items Added</h1>
</div>
}
